html,
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    height: 100%;
    width: 100%;
    font-family: Microsoft JhengHei, sans-serif;
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}

.image { 
    width: auto; 
    height:114px; 
    background-image: url(../src/static/assets/Header.svg); 
    filter: drop-shadow(0em .5em .1em rgba(255, 0, 0, 0.5));
    padding: relative;
}

.header { 
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.bg_color{
    background: #F3B977;
}

.title-content{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    filter: drop-shadow(5px 10px 2px rgba(10, 3, 10, 0.1));
    background-color: #3B60BD; 
    padding: 1rem 0rem 1rem 3rem; 
    margin: 5rem 5rem 5rem 0rem;
}

.title-content2{
    font-size: 24px;
    font-weight: 550;
    color: #fff;
    letter-spacing: 3px;
    filter: drop-shadow(5px 10px 2px rgba(10, 3, 10, 0.1));
    background-color: #3B60BD; 
    padding: 1rem;
    text-align: center;
}

.title-content-white{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
    filter: drop-shadow(5px 10px 2px rgba(10, 3, 10, 0.1));
    background-color: #fff; 
    color: #3B60BD; 
    padding: 1rem; 
    margin: 2rem;
}

.content{
    font-size: 22px;
    font-weight: bold;
    color: #3F3F3F;
    letter-spacing: 3px;
    background-color: #fff;
    border-radius: 30px;
    padding: 1rem;
    filter: drop-shadow(5px 10px 2px rgba(10, 3, 10, 0.1));
}

.start_button{
    padding: 1.2rem 3rem;
    font-size: 48px;
    font-weight: 600;
    color: #3B60BD;
    background-color: #FBFCD4;
    letter-spacing: 3px;
    border: solid #5D5FEF 4px;
    border-radius: 30px;
    filter: drop-shadow(5px 10px 2px rgba(10, 3, 10, 0.1));
}

.start_button:hover {
    background-color: #3B60BD;
    border: #5D5FEF 4px;
    font-size: 55px;
    font-weight: 600;
  }

.back_button{
    color: aliceblue;
}

.back_button:hover {
    background-color: #FBFCD4;
    border: #5D5FEF 4px;
}

.carousel-indicators {
    position: fixed;
    /* _carousel.scss:170 */
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: #3B60BD;
    background-color: rgb(61, 113, 255);
    background-size: 100%, 100%;
    border-radius: 50%;
    position: fixed;
}

.pop{
    background-color: transparent;
    font-size: 28px;
    font-weight: 600;
    color: #3F3F3F;
  }

.popover1 { 
    margin: 0px; 
    background-color: transparent;
    font-size: 28px;
    font-weight: 600;
    color: #3F3F3F;
} 

.carousel-inner, .carousel, carousel-item {
    overflow:visible;
  }

.img-fluid{
    background-color: #3B60BD;
}

.card-title{
    color: #3B60BD;
    font-size: 32px;
    font-weight: 600;
    margin: 1rem 0rem 0.8rem 0rem;
}

.card-text{
    color: #3F3F3F;
    font-size: 22px;
    font-weight: 550;
    line-height: 32px;
    letter-spacing: 2px;
}

.card-textSmall{
    color: #3F3F3F;
    font-size: 20px;
    font-weight: 500;
}

.card{
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
    margin: 0rem 1.8rem 0rem 0rem !important;
    padding: 0px;
}

.drug-title{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    background-color: #3B60BD;
    letter-spacing: 2px;
}

.drug-text{
    color: #3F3F3F;
    font-size: 18px;
    font-weight: 550;
    line-height: 26px;
    letter-spacing: 2px;
}

.game-text{
    background-color: #E6EBF7;
    color: #3B60BD;
    font-size: 22px;
    font-weight: 600;
    filter: drop-shadow(10px 10px 2px rgba(255, 0, 0, 0.5));
    padding: 1rem 0.2rem;
    letter-spacing: 2px;
}

.have-drug-text{
    background-color: #3B60BD;
    color: #E6EBF7;
    font-size: 22px;
    font-weight: 600;
    filter: drop-shadow(10px 10px 2px rgba(255, 0, 0, 0.5));
    padding: 1rem 0rem;
    letter-spacing: 2px;
}

.page-link{
    background-color: #3B60BD;
    color: #E6EBF7;
    height: 45px;
    width: 45px;
    font-size: 20px;
    font-weight: 600;
    filter: drop-shadow(5px 5px 2px rgba(255, 0, 0, 0.5));
    padding: 0.5rem 0.2rem;
    margin: 0rem 1rem;
    border-radius: 50% !important;
    border: none;
    text-align: center;
    margin-bottom: 8rem !important;
}

.page-link li a:hover:not(.active) {
     background-color: #E6EBF7;
     color: #3B60BD;
     font-size: 24px;
     font-weight: 700;
}

.question-title{
    font-size: 48px;
    font-weight: 800;
    color: #E6EBF7;
    background-color: #3B60BD;
    letter-spacing: 3px;
    padding-right: 0px;
    margin-right: 0px;
}

.question-content{
    font-size: 22px;
    font-weight: 600;
    height: 3rem;
    color: #E6EBF7;
    border-left: 4px solid #E6EBF7;
    padding-left: 0rem;
    padding-bottom: 6rem;
}

.question-left{
    color: #E6EBF7;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: #3B60BD;
    padding: 3rem 0rem 0rem 0rem;

}

.question-left-text{
    color: #E6EBF7;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;
    background-color: #3B60BD;
    padding: 2rem 0rem 0rem 0rem;
    padding-left: 3rem;
    margin: 0px;
}

.question-button{
    color: #E6EBF7;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #3B60BD;
    padding: 1.2rem 3.5rem;
    border: 2px solid  #E6EBF7;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}

.question-button:hover{
    color:#3F3F3F !important;
    background-color: #FBFCD4;
    border: 5px solid  #5D5FEF;
    display:block;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}

.option{
    color: #3F3F3F;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #fff;
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin-bottom: 1.2rem;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}

.option:hover{
    color:#E6EBF7;
    background-color: #3B60BD;
    border: 4px solid  #5D5FEF;
    display:block;
    filter: drop-shadow(5px 5px 2px rgba(255, 0, 0, 0.5));
}

.answer-body{
    color: #3F3F3F;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2rem;
    background-color: #fff;
    padding: 1rem 3rem 1.5rem 1.5rem ;
    margin-top: 0rem;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 2px rgba(255, 0, 0, 0.5));
    white-space: nowrap;
}

.link-bottom {
    width: 103%;
    height: 1.5em;
    border-bottom: solid #3F3F3F 3px;
}
/*>>>>>>> 845f7192074c4da01d7ead979dd8efed7d775a5e*/


.pagination{
    position: fixed;
    left: 50%;
    top: 92%;
    bottom: 2%;
    transform:translateX(-50%);
}

.drug_btn{
    width: 100%;
    height: 100%;
}

.main_container_C{
    position: relative;
    top: 15%;
}

.imgimg{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.btn:focus,.btn:active:focus,
.btn.active:focus,.btn.focus,
.btn:active.focus,.btn.active.focus {  
 outline: none;   
 border-color: transparent;   
 box-shadow:none;
}