/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}

.share_page{
    height: 100vh;
    background: pink;
    background-image: url("../img/share.png");
    background-size: cover;
    
}

.contain-text{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.p_sharePage{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 28px;
    
    color: #4E3F51;
    /*
    -webkit-text-fill-color: white; 
    -webkit-text-fill-color: white; 
    -webkit-text-stroke: 2px black; 
    -webkit-text-stroke: 2px black; 
    */
    text-shadow: -2px -2px 0 #ffff, 
               2px -2px 0 #ffff,
              -2px 2px 0 #ffff, 
              2px 2px 0 #ffff;
}
.p_sharePage_D{
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-bottom: 28px;
    
    color: white;
    -webkit-text-stroke: 6px white; 
    -webkit-text-stroke: 6px white; 
}
.p_sharePage_T{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 28px;
    
    color: black;
    
}


.btn_sharePage{
    display: inline-block;
    width: 256px;
    height: 91px;
    border-radius: 30px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 28px;
}

.share_btn{
    color: black;
    border: 4px solid #3B60BD;
    background-color: #F0F0F0;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}
.share_btn:hover{
    color: #3B60BD;
    border: 4px solid #3B60BD;
    background-color: #FBFCD4;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}


.Q_btn{
    position:relative;
    color: #3B60BD;
    border: 4px solid #FBFCD4;
    background-color: #FBFCD4;
    filter: drop-shadow(10px 10px 4px #ff000081);
    z-index: 1;
}
.Q_btn:hover{
    color: #3B60BD;
    background-color: #E6EBF7;
    filter: drop-shadow(10px 10px 4px #ff000081);
    border: 4px solid #A5A6F6;
}


.again_btn{
    color: white;
    border: 4px solid white;
    background-color: #3B60BD;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}
.again_btn:hover{
    color: #3B60BD;
    border: 4px solid #3B60BD;
    background-color: #FBFCD4;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.1));
}


.FB_img{
    height: 52px;
    width: 52px;
}

.share_logo{
    width: 250px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.share_p{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 28px;
}

.bg-white-50{
    background-color: #e6ebf7da;
    width: 40vw;
    padding: 26px;
    font-size: 20px;
    font-weight:600;
    color: 3F3F3F;
    letter-spacing: 3px;
    border-radius: 30px;
    margin-bottom: 28px;
}

.bg-white-50 img{
    width: 37px;
    height: 37px;
    margin-bottom: 10px;
}